.form-register {

  padding-top: 100px;
  padding-bottom: 100px;
  background-color:lightgrey;
  }
  .field-width{
    width: 300px;
  }
  .card{
    padding: 10%;
    display: flex;
    flex-wrap: wrap;
    width: 280px;
    height: auto;
    justify-content: center;
    margin: auto;

  }
  .contenedor {
    width: 100%;
    height: 100%;
    background-color:lightgrey;
  }

  .logo {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    width: 200px;
  }

  .radio{
    width: 100px;
    display: flex;
    flex-wrap: wrap;

  }

  .radiocontenedor{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
