<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-card>
      <mat-card-actions>
      <button class="boton" type="button" mat-button (click)="drawer.toggle()">
        Usuarios
      </button>
      <button class="boton" type="button" mat-button (click)="drawer.toggle()">
        Tabla de Posts
      </button>
      <button class="boton" type="button" mat-button (click)="drawer.toggle()">
        Lista de Posts
      </button>
    </mat-card-actions>
    </mat-card>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

</mat-drawer-container>
